<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autodesk.Forge" version="1.0.2" targetFramework="net452" />
  <package id="cef.redist.x64" version="3.3239.1723" targetFramework="net452" />
  <package id="cef.redist.x86" version="3.3239.1723" targetFramework="net452" />
  <package id="CefSharp.Common" version="63.0.3" targetFramework="net452" />
  <package id="CefSharp.WinForms" version="63.0.3" targetFramework="net452" />
  <package id="Nancy" version="1.4.4" targetFramework="net452" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="propertysets-csharp_win_release_intel64_v140_shared" version="0.7.15" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net452" />
</packages>